.models-container {
  padding: 1rem;
  height: calc(100vh - 65px);
  margin: 0 auto;
  background-color: var(--brand-light);  
}

/* Ensure the p-card body doesn't add extra padding that breaks alignment */
::ng-deep .model-card {
  background-color: var(--brand-dark) !important;
}

::ng-deep .model-card .p-card-header {
    width: 530px;
    background-color: var(--brand-dark) !important;   
         
    border-radius: 10px;
}

::ng-deep .p-card-body {
    background-color: var(--brand-dark) !important;
    border-radius: 10px;
}

.navigation-content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  gap: 5px;
}

/* Filters buttons style */
::ng-deep .inactive-gray-btn {
    background: #f1f4f9 !important;
    color: #4a5568 !important;
    border: none !important;
    border-radius: 8px !important;
}

::ng-deep .active-dark-btn {
    //background: #1a1a1a !important; /* Deep black */
    background: var(--brand-dark) !important;
    color: #ffffff !important;      /* White text */
    border: 1px solid #333 !important;
    border-radius: 8px !important;
}

::ng-deep .active-dark-btn .p-button-icon {
    color: #ffffff !important;
}

::ng-deep .tlog-wrapper {
    height: 100%;
}

/* Target the header (Available Model Types) */
::ng-deep .p-select-option.p-select-option-selected {
  background-color: var(--brand-dark) !important;
  color: #ffffff !important;
}

/* Target the list items and empty message (No results found) */
::ng-deep .p-select-option.p-select-option-selected:hover {
  background-color: #333333 !important;
  color: #ffffff !important;
}

/* Remove green focus border on selected option */
.p-select-option.p-select-option-selected:focus,
.p-select-option:focus,
.p-select-option.p-focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Remove focus ring from the select trigger */
.p-select:focus,
.p-select:focus-within,
.p-select.p-focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #d1d5db !important; /* or your default border color */
}

.p-select-sm + .p-select-overlay .p-select-option {
  font-size: 0.75rem !important;
}