<div class="chat-wrapper">
    <div class="chat-history" #scrollContainer (scroll)="onScroll()">
        @for (msg of messages; track $index) {
            @if (msg.role === 'user') {
                <div class="message-row user">
                    <div class="message-bubble user-bubble">
                        {{ msg.content }}
                    </div>
                </div>
            }

            @if (msg.role === 'assistant') {
                <div class="message-row ai">
                    <div class="ai-avatar">
                        <vd-avatar [thinking]="isThinking && $last" size="sm" />

                        <!--@if (isThinking && $last) {
                            <i class="pi pi-spin pi-spinner sparkle-icon"></i>
                        } @else {
                            <span class="sparkle">✴</span>
                        }-->
                    </div>
                    <div class="message-content">
                        <markdown [data]="msg.content"></markdown>

                        @if (isThinking && $last) {
                            <p>{{ messageThinking }}</p>
                        } @else {
                            <div class="message-actions">
                                <i class="pi pi-copy" pTooltip="Copiar" [cdkCopyToClipboard]="msg.content"
                                    (cdkCopyToClipboardCopied)="onCopySuccess()">
                                </i>
                                <!--<i class="pi pi-thumbs-up"></i>
                                <i class="pi pi-thumbs-down"></i>
                                <i class="pi pi-refresh"></i>-->
                                <i class="pi pi-download" (click)="onDownloadChat(msg.content)"></i>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>

    <div class="input-container">
        <!-- Panel files Selected -->
        <div *ngIf="showFilterTagsPanel" 
            class="input-filter-tags"
            style="border-radius: 20px; overflow-x: hidden; overflow-y: auto; border: 1px solid #e0e0e0;">
            <p-table #dtFiles
                [value]="files" 
                [(selection)]="selectedFiles"
                [tableStyle]="{ 'width': '840px' }"
                [globalFilterFields]="['collection', 'name', 'tags_str']"
                [scrollable]="true"
                scrollHeight="150px">
                <ng-template #caption>
                    <div class="flex align-items-center justify-content-between px-2">
                        <p-iconfield>
                            <p-inputicon class="pi pi-search" />
                            <input type="text" pInputText placeholder="Search" (input)="dtFiles.filterGlobal($any($event.target).value, 'contains')" />
                        </p-iconfield>
                        <p-button
                            icon="pi pi-times"
                            [rounded]="true"
                            [text]="true"
                            severity="secondary"
                            (onClick)="onSelectTags()" />
                    </div>        
                </ng-template>                
                <ng-template #header>
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox />
                        </th>                        
                        <th>Collection</th>
                        <th>Name</th>
                        <th>Tags</th>
                    </tr>
                </ng-template>
                <ng-template #body let-file>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="file" />
                        </td>
                        <td>{{ file.collection }}</td>
                        <td>{{ file.name }}</td>
                        <td class="file-tags-cell">
                            @for (tag of file.tags; track $index) {
                                <span class="size-badge">{{ tag.trim() }}</span>
                            }
                        </td>                        
                        <td style="display: none">{{ file.tags_str }}</td>
                    </tr>
                </ng-template>
            </p-table>  
        </div>        

        <!-- Panel Tags Selected -->
        <div *ngIf="showTagsPanel" class="input-filter-tags"
            style="display: flex; gap: 1; flex-direction: row; align-items: center; justify-content: space-between; border-radius: 20px; border: 1px solid #e0e0e0;">
            <p-autocomplete [(ngModel)]="tagsSelected" [multiple]="true" [suggestions]="suggestions" [showEmptyMessage]="false"
                style="width: 100%;" />
            <p-button label="Clear" size="small" severity="secondary" (onClick)="onClearTags()" />
        </div>

        <!-- Panel Prompt -->
        <div class="input-container-inner">
            <div class="input-card p-shadow-1">
                <textarea #chatTextarea
                    class="chat-input" 
                    pInputTextarea autoResize="true"
                    autoResize="true"
                    rows="1"
                    placeholder="Waiting for your question ..." 
                    [(ngModel)]="currentQuestion"
                    (keydown)="onHandleKeyDown($event, chatTextarea)"
                    (input)="autoGrow(chatTextarea)">
                </textarea>

                <div class="input-footer">
                    <div style="display: flex; flex-direction: row;">
                        <div class="flex align-items-center gap-2">
                            <p-button 
                                icon="pi pi-plus" 
                                [text]="true" 
                                [rounded]="true"
                                severity="secondary"
                                (onClick)="menu.toggle($event)">
                            </p-button>
                            <!-- Floating Menu Panel -->
                            <p-menu 
                                #menu 
                                styleClass="filter-tags-menu"
                                [model]="menuFilterTagsItems" 
                                [popup]="true"
                                appendTo="body">
                            </p-menu>                            
                        </div>
                        <div class="flex align-items-center gap-2">
                            <span for="ragToggle" class="text-sm text-gray-500 font-normal">Knowledge Base</span>
                            <p-toggleswitch 
                                inputId="ragToggle"
                                [(ngModel)]="activeRAG"
                            />
                        </div>
                    </div>
                    <div class="input-meta">
                        <!--<span class="model-tag">Llama 3.1</span>-->
                        <p-button 
                            (onClick)="sendChat()" 
                            [icon]="isThinking ? 'pi pi-stop-circle' : 'pi pi-send'"
                            [style]="{'color': '#000000', 'border': 'none'}"
                            [text]="true"
                            [severity]="isThinking ? 'danger' : 'primary'"
                            [disabled]="!isThinking && !currentQuestion.trim()">
                        </p-button>
                    </div>
                </div>
            </div>
            <small class="disclaimer">VeraDoc is AI and can make mistakes. Please verify the answers..</small>
        </div>
    </div>
</div>